<h1>Add a new cat!</h1>

    <%= render 'shared/errors' %>

<%= render 'form', action: :new, cat: @cat %>

  <% content_for :footer do %>
    <p>This is the cat's new page.</p>
  <% end %>



<!--
<form action=" <%= cats_url %> " method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" />

  <br />

  <label for="birth_date">Birth date</label>
  <input id="birth_date" type="date" name="cat[birth_date]" />

  <br>

  <label for="color">Color</label>
  <select name="cat[color]" id="color">
    <option disabled selected>-- select a color --</option>
      <% Cat::CAT_COLORS.each do |color| %>
        <option
          <%= color %>
          value="<%= color %>">
          <%= color.upcase %>
        </option>
    <% end %>
  </select>

  <br />

  <input
    type="radio"
    name="cat[sex]"
    value="M"
    id="cat_sex_male"
  >
  <label for="cat_sex_male">Male</label>
  <input
    type="radio"
    name="cat[sex]"
    value="F"
    id="cat_sex_female"
  >
  <label for="cat_sex_female">Female</label>

  <br>

  <label for="description">Description</label>
  <textarea id="description" name="cat[description]"></textarea>

  <br>


  <input type="submit" value="Add cat">

</form>

-->